backports.cached-property
ops>=1.3.0,<2.0.0
lightkube>=0.10.1,<1.0.0
jsonschema
pyyaml
git+https://github.com/canonical/ops-lib-manifest.git@c5d6a00084954af7578dd0f456491f4ee60e0311
git+https://github.com/charmed-kubernetes/interface-kube-control.git@6dd289d1c795fdeda1bed17873b8d6562227c829#subdirectory=ops
