### cpi-secret.yaml
###    str juju_app : name of deployed application
###    str server   : ip address or fqdn of vsphere endpoint
###    str username : credentials to connect to endpoint
###    str password : credentials to connect to endpoint
---
apiVersion: v1
kind: Secret
metadata:
  name: vsphere-cloud-secret
  labels:
    vsphere-cpi-infra: secret
    component: cloud-controller-manager
    app.juju.is/created-by: {{ juju_app }}
  namespace: kube-system
stringData:
  {{ server }}.username: "{{ username }}"
  {{ server }}.password: "{{ password }}"
