### cpi-config-map.yaml
###    str juju_app   : name of deployed application
###    str server     : ip address or fqdn of vsphere endpoint
###    str datacenter : vsphere virtual datacenter
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vsphere-cloud-config
  labels:
    vsphere-cpi-infra: config
    component: cloud-controller-manager
    app.juju.is/created-by: {{ juju_app }}
  namespace: kube-system
data:
  vsphere.conf: |
    [Global]
    port = "443"
    # set insecureFlag to true if the vCenter uses a self-signed cert
    insecure-flag = "true"
    secret-name = "vsphere-cloud-secret"
    secret-namespace = "kube-system"
    [VirtualCenter "{{ server }}"]
    datacenters = "{{ datacenter }}"