[Global]
cluster-id = "{datacenter}-$unique-cluster-id-from-vcenter"
[VirtualCenter "{server}"]
insecure-flag = "true"
user = "{username}"
password = "{password}"
port = "443"
datacenters = "{datacenter}"
